* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  --color-green: #1de783;
  --color-nav-footer: rgb(21, 21, 21);
  font-size: 16px;
}

/* Navbar */

p {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 0.9rem;
}
a {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 0.9rem;
  color: white;
  transition: all 250ms ease-in-out;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-green);
}

a:active {
  text-decoration: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.8);
  height: 70px;
}

.nav-items {
  display: flex;
  align-self: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

.item {
  transition: all 250ms ease-in-out;
  margin-top: 10px;
}

.item:hover {
  color: var(--color-green);
  cursor: pointer;
}

.nav-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
  letter-spacing: 1px;
  align-items: center;
}

.nav-bar .magnifying-icon {
  width: 23px;
  height: 23px;
  transform: translateY(20%);
}

.login-btn {
  background-color: #fff;
  color: #000;
  letter-spacing: 1.5px;
  padding: 6px 27px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 0.78rem;
  margin-top: 15px;
  margin-right: 45px;
  margin-left: 25px;
  line-height: 1.2rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}

.login-btn:hover {
  background-color: rgba(21, 21, 21, 0);
  color: white;
}

.btn {
  color: #fff;
}

.arrow-down {
  color: var(--color-green);
}

.logo {
  color: var(--color-green);
  margin-right: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.letter-height {
  font-size: 1.6rem;
}

/* Main */

.App {
  background-color: #fafafa;
}
.top-padding {
  padding-top: 70px;
  background: #000;
}

.row {
  display: flex;
  max-width: 83%;
  height: 385px;
  margin: 75px auto 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #eeeeee;
}

.col {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.row img {
  max-width: 100%;
  height: 100%;
}

.col-right {
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texts p,
.texts h2 {
  padding: 0;
  margin: 0;
}

.texts h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.texts p {
  letter-spacing: 1px;
  font-size: 1rem;
  padding-top: 10px;
  font-weight: 300;
}

.col-right a {
  width: 25%;
  align-items: center;
  background-color: #000;
  color: white;
  border: 2px solid #000;
  padding: 6px 25px;
  letter-spacing: 1.5px;
  border-radius: 4px;
  font-size: 0.78rem;
  line-height: 1rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
  margin-top: 35px;
}

.col-right a:hover {
  background-color: #fff;
  color: #000;
}

/*Search*/

.Search {
  background-color: #fff;
  height: 69px;
  border-bottom: 1px solid #b5b5b5;
}

.Search form {
  display: inline;
}

.Search input {
  border: none;
  margin-left: 5px;
  padding: 5px 30px 5px 5px;
  line-height: 1.5rem;
  font-weight: 300;
}

.Search input:focus {
  outline: none;
}

.Search .search-box {
  display: inline-block;
  width: 20%;
  border: 1px solid #b5b5b5;
  margin-left: 120px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 14px;
}

.search-category {
  display: inline-block;
  margin-left: 5em;
  margin-right: 7px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Cards */
.Cards {
  max-width: 83%;
  background-color: #fafafa;
  margin: 90px 120px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 21px;
}

.card {
  width: 282px;
  height: 350px;
  font-size: 1rem;
  box-shadow: 2px 2px 1px #eeeeee;
  border-radius: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-head {
  font-weight: 500;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}

.card-body {
  padding-top: 0;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}

/* Footer */

.Footer {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  color: #fff;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.top-row {
  text-align: right;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 40px;
}

.top-row .icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
  height: 20px;
}

.bottom-row a {
  font-size: 0.7rem;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 1px;
}

.top-row a:hover {
  color: rgb(141, 137, 137);
}

.bottom-row a:hover {
  color: rgb(141, 137, 137);
}

.copyright {
  font-size: 0.7rem;
  padding-left: 8px;
  padding-right: 8px;
}
