* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  --color-green: #1de783;
  --color-nav-footer: rgb(21, 21, 21);
  font-size: 16px;
}

/* Navbar */

p {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 0.9rem;
}
.nav-bar a {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 0.9rem;
  color: white;
  transition: all 250ms ease-in-out;
}

.nav-bar a:link {
  text-decoration: none;
}

.nav-bar a:visited {
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: none;
  color: var(--color-green);
}

.nav-bar a:active {
  text-decoration: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.8);
  height: 70px;
}

.nav-items {
  display: flex;
  align-self: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

.item {
  transition: all 250ms ease-in-out;
  margin-top: 10px;
}

.item:hover {
  color: var(--color-green);
  cursor: pointer;
}

.nav-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
  letter-spacing: 1px;
  align-items: center;
}

.nav-bar .magnifying-icon {
  width: 23px;
  height: 23px;
  transform: translateY(20%);
}

.nav-bar .magnifying-icon:hover {
  cursor: pointer;
  color: var(--color-green);
}

.login-btn {
  background-color: #fff;
  color: #000;
  letter-spacing: 1.5px;
  padding: 6px 27px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 0.78rem;
  margin-top: 15px;
  margin-right: 45px;
  margin-left: 25px;
  line-height: 1.2rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}

.login-btn:hover {
  background-color: rgba(21, 21, 21, 0);
  color: white;
}

.btn {
  color: #fff;
}

.arrow-down {
  color: var(--color-green);
}

.logo {
  color: var(--color-green);
  margin-right: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.letter-height {
  font-size: 1.6rem;
}

/* Main */

.App {
  background-color: #fafafa;
}
.top-padding {
  padding-top: 70px;
  background: #000;
}

.row {
  display: flex;
  width: 83%;
  height: 385px;
  margin: 75px auto 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #eeeeee;
}

.col {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.row img {
  max-width: 100%;
  height: 100%;
}

.row .col-right {
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
  max-width: 100%;
  height: 100%;
}

.row .col-right .texts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.texts p,
.texts h2 {
  padding: 0;
  margin: 0;
}

.texts h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 700;
}

.texts p {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.texts .title,
.texts .article {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-right a {
  width: 140px;
  align-items: center;
  background-color: #000;
  color: white;
  border: 2px solid #000;
  padding: 6px 25px;
  letter-spacing: 1.5px;
  border-radius: 4px;
  font-size: 0.78rem;
  line-height: 1rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-right a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

/*Search*/

.Search {
  background-color: #fff;
  height: 69px;
  border-bottom: 1px solid #b5b5b5;
}

.Search form {
  display: inline;
}

.Search input {
  border: none;
  margin-left: 5px;
  padding: 5px 30px 5px 5px;
  line-height: 1.5rem;
  font-weight: 300;
}

.Search input:focus {
  outline: none;
}

.Search .search-box {
  display: inline-block;
  width: 20%;
  border: 1px solid #b5b5b5;
  margin-left: 120px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 14px;
}

.search-category {
  display: inline-block;
  margin-left: 5em;
  margin-right: 7px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Cards */
.Cards {
  width: 85%;
  background-color: #fafafa;
  margin: 90px 110px 90px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 21px;
}

.card a {
  width: 282px;
  height: 350px;
  font-size: 1rem;
  box-shadow: 2px 2px 1px #eeeeee;
  border-radius: 0;
}

.card a:link {
  text-decoration: none;
  color: black;
}

.card a:visited {
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: none;
  color: black;
}

.card a:active {
  text-decoration: none;
  color: black;
}

.card .card-image {
  width: 100%;
  height: 160px;
}

a .card-text {
  position: relative;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  overflow: hidden;
}

.border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  animation: fill 250ms ease-in forwards;
}

@keyframes fill {
  from {
    width: 5%;
    background-color: var(--color-green);
  }

  to {
    width: 100%;
    background-color: var(--color-green);
  }
}

.remove-border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  animation: remove 250ms forwards;
}

@keyframes remove {
  0% {
    width: 80%;
    background-color: var(--color-green);
  }

  50% {
    width: 5%;
    background-color: var(--color-green);
  }

  100% {
    width: 0;
    background-color: var(--color-green);
  }
}

a .card-head {
  font-weight: 500;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a .card-body {
  padding-top: 0;
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  overflow: hidden;
  letter-spacing: 1px;
}

/* Footer */

.Footer {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  color: #fff;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.top-row {
  text-align: right;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 40px;
}

.top-row .icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
  height: 20px;
}

.bottom-row a {
  font-size: 0.7rem;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 1px;
}

.top-row a:link,
.bottom-row a:link {
  text-decoration: none;
  color: #fff;
}

.top-row a:visited,
.bottom-row a:visited {
  text-decoration: none;
  color: #fff;
}

.top-row a:hover,
.bottom-row a:hover {
  text-decoration: none;
  color: rgb(141, 137, 137);
}

.top-row a:active,
.bottom-row a:active {
  text-decoration: none;
  color: #fff;
}

.copyright {
  font-size: 0.7rem;
  padding-left: 8px;
  padding-right: 8px;
}

.Footer .info-icon {
  width: 30px;
  height: 30px;
}
