* {
  --color-green: #1de783;
  --color-nav-footer: rgb(21, 21, 21);
  font-size: 16px;
}

p {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 0.9rem;
}
a {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 0.9rem;
  color: white;
  transition: all 250ms ease-in-out;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-green);
}

a:active {
  text-decoration: none;
}

.nav-bar {
  display: fixed;
  background-color: rgba(21, 21, 21, 0.9);
  height: 70px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

.item {
  transition: all 250ms ease-in-out;
}

.item:hover {
  color: var(--color-green);
}

.nav-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
  letter-spacing: 1px;
  transform: translateY(25%);
}

.login-btn {
  background-color: #fff;
  color: #000;
  letter-spacing: 1.5px;
  padding: 7px 27px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: 45px;
  transform: translateY(-15%);
  line-height: 1.2rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}

.login-btn:hover {
  background-color: rgba(21, 21, 21, 0.3);
  color: white;
}

.btn {
  color: #fff;
}

.arrow-down {
  color: var(--color-green);
}

.logo {
  color: var(--color-green);
  margin-right: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  transform: translateY(-15%);
}

.letter-height {
  font-size: 1.6rem;
}
